.notranslate.public-DraftEditor-content {
    padding: 0px 15px 0px 15px;
    border: 1px solid #707070;
    min-height: 435px;
}
.rdw-editor-toolbar.toolbarClassName {
    border: 1px solid #707070;
    padding: 8px;
    background: none;
    color: black;
}
.rdw-dropdown-selectedtext{
    border: 1px solid #dedede;
}
.rdw-option-wrapper {
    border: 1px solid #dedede;
}
.rdw-option-wrapper:hover {
  box-shadow: 2px 2px 0px #BFBDBD;
}
.rdw-option-wrapper:active {
  box-shadow: 3px 3px 0px #BFBDBD inset;
}
.rdw-option-active {
  box-shadow: 3px 3px 0px #BFBDBD inset;
}